{% load static %}
<head>
	<title>Tableau de bord</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
		}
		.user_card {
			width: 300px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;

		}
	</style>
	<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
        <img src="{% static 'img/un.png'%}" height="48" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav text-dark">
            <a href="{% url 'acceuil'%}" class="nav-item nav-link active">Accueil</a>
            <a href="{% url 'patient analyse'%}" class="nav-item nav-link">Patient analyse</a>
            <a href="{% url 'tableau de bord'%}" class="nav-item nav-link">Tableau de bord</a>
           <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> !-->
        </div>
        <div class="navbar-nav ml-auto">
            <a href="{% url 'acces'%}" class="nav-item nav-link">Bienvenue {{user}}, Déconnecté</a>
        </div>
    </div>
</nav>

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total des patients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{patient}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Service Cardio</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{cardio}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Service maternité</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{maternité}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Service immunologie</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{immunologie}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Service pneumologie</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pneumologie}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Service traumatologie</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{traumatologie}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Service Pédiatrie</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Pédiatrie}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Service</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-dark  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Service </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

